.App {
  text-align: center;
}


.Main {
  background-color: #708090;
  display: flex;
  flex-direction: column;
  align-items: top center;
  justify-content: top center;
  font-size: calc(40px);
  font-weight: bold;
  color: white;
}



  



